<div class="left">

<div class="imagem">
    <img src="https://prod-ripcut-delivery.disney-plus.net/v1/variant/disney/80C64C0B63382CD3ED2653356125F275F63D036028A77D38DC3286AD851A6833/scale?width=1200&aspectRatio=1.78&format=jpeg" 
    alt=""
    height="200px"
    >
    
</div>

<div class="title">
    <h1><a href="#">Saiu a nova versão do Angular</a></h1>
</div>
<div class="texto">
    <p>Lorem ipsum dolor sit amet, 
        consectetur adipiscing elit. Fusce nec ipsum ultricies nulla faucibus tempor vitae sed erat. 
        Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        Ut vitae massa aliquet, ultricies ante id, vulputate dui. Sed commodo est turpis, at lacinia arcu 
        vestibulum eget. Maecenas est felis, scelerisque sed mauris ac, porta viverra dui. Duis convallis 
        eros ut metus tincidunt, ut euismod neque fringilla. Donec suscipit sed nisi et malesuada. 
         </p>
</div>

</div>
