<!-- Header -->
<poke-header></poke-header>

<main>
  <div class="text-container">
  <h1>Bem-vindo à API Pokédex</h1>
  <p>Descubra o mundo Pokémon com nossa abrangente API Pokédex, meticulosamente elaborada usando FastAPI e Angular. Mergulhe em informações detalhadas sobre cada Pokémon, incluindo tipos, poderes e muito mais.</p>
  <p>Explore a vasta coleção de Pokémon navegando pela nossa barra de pesquisa fácil de usar ou aprofunde-se nos detalhes de cada Pokémon.</p>
  
</div>
  
  <poke-list></poke-list>
</main>